.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  max-width: 470px;
  margin: 0 auto;
  width: 100%;
  padding-top: 0.5rem;
}

@media (max-width: 470px) {
  .main-content {
    max-width: 100%;
  }
}